
# Monitors Config
xrandr --output eDP-1 --mode 1920x1200 --rate 60.00 --output HDMI-1 --mode 1920x1080 --rate 144.00

# Nitrogen
nitrogen --restore

# Simple X Hot Key Daemon
sxhkd &

# Polybar
polybar &
